<main>

  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
        aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">

      <div class="carousel-item active">
        <img height="100%" width="100%" style="object-fit: cover;"
          src="https://c.pxhere.com/photos/9b/d5/concert_performance_entertainment_music_band_audience_nightlife_disco-725477.jpg!d"
          alt="">
        <div class=" container">
          <div class="carousel-caption text-end">
            <h1>One platform for the entire hangout experience</h1>
            <p>TXS helps you find the coolest events nearby & easily buy tickets for you and your friends</p>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <img height="100%" width="100%" style="object-fit: cover;"
          src="https://c.pxhere.com/photos/95/c5/audience_concert_music_entertainment_people_crowd_performance_event-868620.jpg!d"
          alt="">
        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Create your account today</h1>
            <p>Create your account today and receive 20% off your first booking</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">


        <img height="100%" width="100%" style="object-fit: cover;"
          src="https://c.pxhere.com/photos/de/b5/hand_microphone_mic_hold_fist_isolated_black_background-687769.jpg!d"
          alt="">

        <div class="container">
          <div class="carousel-caption">
            <h1>Invite your friends on TXS.</h1>
            <p>Invite your friends on TXS and get a free ticket for any event you like.</p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">

        <img width="140" height="140"
          src="https://c.pxhere.com/photos/9b/a0/concerts_audience_spectators_lights_stages_contestants_crowds_walkway-655277.jpg!d"
          alt="" style="border-radius: 50%; object-fit: cover;" />

        <h2>Concerts</h2>
        <p>Find awesome concerts nearby</p>
        <p><a class="btn btn-secondary" href="/events?category=concerts">View events &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img width="140" height="140"
          src="https://c.pxhere.com/photos/7e/13/football_playing_field_corner_eckpunkt_standard_situation_european_championship_2016_ball-616075.jpg!d"
          alt="" style="border-radius: 50%; object-fit: cover;" />

        <h2>Football</h2>
        <p>Footbal matches you may like</p>
        <p><a class="btn btn-secondary" href="/events?category=football">View events &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img width="140" height="140"
          src="https://c.pxhere.com/photos/9e/45/concert_concert_hall_auditorium_architecture_performance_building_theater_culture-1052068.jpg!d"
          alt="" style="border-radius: 50%; object-fit: cover;" />

        <h2>Cultural</h2>
        <p>Awesome cultural events nearby</p>
        <p><a class="btn btn-secondary" href="/events?category=cultural">View events &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Find awesome events nearby.
        </h2>
        <p class="lead">TXS helps you discover new events in your area & easily buy tickets
        </p>
      </div>
      <div class="col-md-5">
        <img
          src="https://c.pxhere.com/photos/9d/ff/concert_crowd_audience_people_music_entertainment_festival_performance-727825.jpg!d"
          alt="" height="500" width="500" style="object-fit: cover" />

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Enjoy exclusive promotions <span class="text-muted">See by yourself.</span></h2>
        <p class="lead">TXS brings you the coolest promotions & discounts everyday. Our loyalty program rewards those
          who have the best fun.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img
          src="https://c.pxhere.com/photos/df/cb/drinks_glasses_drinking_bar_alcohol_beverage_celebration_restaurant-868172.jpg!d"
          alt="" height="500" width="500" style="object-fit: cover" />

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Buy tickets for everyone. <span class="text-muted">Anytime.</span></h2>
        <p class="lead">With TXS, you can buy group tickets for you & all your friends all at a time. Thus you have more
          time for having fun.</p>
      </div>
      <div class="col-md-5">
        <img src="https://c.pxhere.com/photos/12/23/beach_friends_group_people_campfire-113260.jpg!d  " alt=""
          height="500" width="500" style="object-fit: cover" />

      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->

</main>